:root {
  --black: #000000;
  --white: #ffffff;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  color: var(--white);
  text-transform: capitalize;
  justify-content: flex-end;
  margin: 1rem;
  font-size: 18px;
}
.menu li {
  margin: 20px 15px;
  list-style: none;
}
.menu a {
  text-decoration: none;
  padding: 8px;
  color: var(--white);
}
.menu a:hover{
  background: var(--white);
  color: var(--black);
  padding: 8px;
  border-radius: 30px;
}