.menu {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  color: var(--secondary-color);
  text-transform: capitalize;
  justify-content: flex-end;
  margin: 1rem;
  font-size: 17px;
}
.menu li {
  margin: 10px 8px;
  list-style: none;
}
.menu a {
  text-decoration: none;
  padding: 8px;
  color: var(--secondary-color);
}
.menu a:hover{
  background: black;
  color: white;
  padding: 8px;
  border-radius: 30px;
}
.menu img {
  margin: 5px 20px;
  width: 30px;
  cursor: pointer;
}