:root {
  --black: #000000;
  --white: #ffffff;
}
body {
  background-color: var(--black);
  font-family: "Ubuntu", "Montserrat";
}
.container {
  display: block;
  margin: 15% auto;
  color: var(--white);
  text-align: center;
  overflow-wrap: normal;
  padding: 5px;
}
.container .home-content h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 85px;
  font-weight: lighter;
  padding: 0 2px;
  margin: 0px;
}
.container .home-content p {
  text-align: center;
  text-transform: capitalize;
  font-weight: lighter;
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 0px;
}
.social-icons {
  color: var(--white);
  font-size: 32px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
.social-icons i {
  padding: 0rem 1rem;
}
.social-icons a {
  text-decoration: none;
  color: var(--white);
}

.about-title {
  color: var(--white);
  text-transform: uppercase;
  margin-top: 2rem;
  font-size: 2.5rem;
  text-align: center;
}
.content-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}
.content {
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  width: 12rem;
}
.content p {
  color: var(--white);
  font-size: 0.85rem;
  padding: 0.5rem 1rem;
}

.content img {
  color: var(--white);
  font-size: 4.5rem;
  padding: 0.5rem 0;
}
.project-title {
  color: var(--white);
  text-transform: uppercase;
  margin-top: 2rem;
  font-size: 2.5rem;
  text-align: center;
}
.project-content-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.project-content {
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  width: 30rem;
}
.project-content h2 {
  color: var(--white);
  font-size: 6rem;
  padding: 0.5rem 1rem;
  margin: 10px;
}
.project-content p {
  color: var(--white);
  font-size: 0.85rem;
  padding: 0.5rem 2rem;
  text-transform: capitalize;
  line-height: 1.75;
}
.roles-title {
  color: var(--white);
  text-transform: uppercase;
  margin-top: 2.5rem;
  font-size: 2.5rem;
  text-align: center;
}
.roles-content-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
}
.roles-content {
  margin: 2.85rem 0rem;
  padding: 1rem;
  text-align: center;
  width: 35rem;
}

.roles-content img {
  color: var(--white);
  width: 175px;
  padding: 0.5rem 0;
}
.roles-post {
  color: var(--white);
  font-size: 1.5rem;
  padding: 0.3rem 1rem;
  text-transform: capitalize;
  line-height: 1.5;
}
.roles-company {
  color: var(--white);
  font-size: 1rem;
  padding: 0.1rem 2rem;
  text-transform: capitalize;
  line-height: 1;
}
.roles-time {
  color: var(--white);
  font-size: 1.2rem;
  padding: 0.1rem 2rem;
  text-transform: capitalize;
  line-height: 1;
}
.contact-title {
  color: var(--white);
  text-transform: uppercase;
  margin-top: 2rem;
  font-size: 2.5rem;
  text-align: center;
}
.contact-content-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10rem;
}
.contact-content {
  margin: 2.85rem 0rem;
  padding: 1rem;
  text-align: center;
  width: 30rem;
}

.contact-content i {
  color: var(--white);
  font-size: 4.5rem;
  padding: 0.5rem 0;
}
.contact-content p {
  color: var(--white);
  font-size: 1rem;
  padding: 0.3rem 1rem;
  text-transform: lowercase;
  line-height: 1.5;
}
.contact-content a {
  text-decoration: none;
  color: var(--white);
}
.menu {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  color: var(--white);
  text-transform: capitalize;
  justify-content: flex-end;
  margin: 1rem;
  font-size: 18px;
}
.menu li {
  margin: 20px 15px;
  list-style: none;
}
.menu a {
  text-decoration: none;
  padding: 8px;
  color: var(--white);
}
.menu a:hover {
  background: var(--white);
  color: var(--black);
  padding: 8px;
  border-radius: 30px;
}
